{% extends 'books/base.html' %}
{% block title %}{{ block.super }}: Yeni oxucu{% endblock %}
{% load static %}
{% block content %}
<div class="container-fluid">
    {% include 'inc/message.html' %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center text-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
                     class="bi bi-plus-square me-2 mb-1">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                </svg>
                YENİ OXUYUCU
            </h3>
            <hr>
            <div class="block-div">
                <form method="post" class="d-flex flex-column new-book-form" action="{% url 'addreader' %}">
                    {% csrf_token %}
                    <label for="{{ form.first_name.id_for_label }}" class="form-label me-2"></label>Ad
                    {{ form.first_name }}

                    <label for="{{ form.last_name.id_for_label }}" class="form-label me-2">Soyad<br></label>
                    {{ form.last_name }}

                    <label for="{{ form.document_id.id_for_label }}" class="form-label me-2">FİN kod<br></label>
                    {{ form.document_id }}

                    <span class="text-danger">
                        {{ form.document_id.errors }}
                    </span>

                    <button class="btn btn-success d-lg-flex save-btn mt-2" type="submit">Yadda saxla</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}